hr {
    border: transparent;
}

#container,
#input__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

#input__container input[type=text] {
    margin-bottom: 5px;
    width: 443px;
    height: 30px;
    font-size: 30px;
    border: thin solid black;
    outline: none;
}

#input__container #expression {
    text-align: left;
}

#input__container #answer {
    text-align: right
}

#primary__controls .pri__button,
#additional__controls .adt__button,
#primary__controls .active,
#additional__controls .active {
    all: unset;
    border: medium solid black;
    margin: 5px 1px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    color: white;
}

#primary__controls .pri__button {
    width: 80px;
    height: 40px;
    margin: 5px 1px;
    font-size: 24px;
    background: grey;
}

#primary__controls .pri__button#Del,
#primary__controls .pri__button#AC {
    background: red;
}

#primary__controls .pri__button:active,
#primary__controls .active {
    width: 80px;
    height: 40px;
    margin: 5px 1px;
    font-size: 24px;
    background: #c5c5c5;
}

#primary__controls .pri__button#Del:active,
#primary__controls .pri__button#AC:active,
#primary__controls .avtive#Del,
#primary__controls .avtive#AC {
    width: 80px;
    height: 40px;
    margin: 5px 1px;
    font-size: 24px;
    background: #ff5f5f;
}

#additional__controls .adt__button {
    width: 64.5px;
    height: 30px;
    margin: 5px 1px;
    font-size: 18px;
    background: black;
}

#additional__controls .adt__button:active,
#additional__controls .active {
    width: 64.5px;
    height: 30px;
    margin: 5px 1px;
    font-size: 18px;
    background: grey;
    border-color: grey;
}